SECRET_KEY=
DEBUG=True
DB_NAME=codex_journal
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

CELERY_BROKER_URL=redis://default:YOUR_REDIS_PASSWORD@YOUR_REDIS_ENDPOINT
CELERY_RESULT_BACKEND=redis://default:YOUR_REDIS_PASSWORD@YOUR_REDIS_ENDPOINT

SENTRY_DSN=your_sentry_dsn_here