{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Witcher's Codex</title>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Georgia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        {% include 'common/partials/nav.html' %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'common/partials/footer.html' %}
    <div class="medallion-sticker">
        <img src="https://static.wikia.nocookie.net/witcher/images/4/4b/Wolf_School_medallion.png/revision/latest?cb=20151008164535" alt="Medallion">
    </div>
</body>
</html>