{% extends 'common/base.html' %}
{% block content %}
    {% if profile %}
        <h1>Welcome back to the Journal, {{profile.first_name}} !</h1>
        <p>Use this archive to track beasts and learn how to defeat them!</p>
        <p>Currently, your bestiary is being updated... Add more of your adventures to save down information and use it when
        encountering the same beasts again!</p>

        <a href="#">View Bestiary</a>
    {% else %}
        <h1>Welcome to the Journal!</h1>
        <p>Use this archive to track beasts and learn how to defeat them!</p>
        <p>To start your adventure, please create your hunter profile.</p>

        <a href = "{% url 'create profile' %}">Create Profile</a>
    {% endif %}

{% endblock %}