{% extends 'common/base.html' %}

{% block content %}
    <h1>My Bestiary</h1>
    <a href = "{% url 'add_monster' %}">Record New Beast</a>
    <form method="get" action="{% url 'bestiary_list' %}" class="sorting-form">
    <label for="sort">Order by:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="name_asc" {% if current_sort == 'name_asc' %} selected {% endif %}>Name (A-Z)</option>
        <option value="name_desc" {% if current_sort == 'name_desc' %} selected {% endif %}>Name (Z-A)</option>
        <option value="danger" {% if current_sort == 'danger' %} selected {% endif %}>Danger Level (High to Low)</option>
        </select>
    </form>
    <hr>

    <div class = "monster-list">
        {% for monster in monsters %}
            <div class = "monster-card">
                <h3><a href="{% url 'monster_details' monster.pk %}">{{ monster.monster_name }}</a></h3>
                <p><strong>Danger Level:</strong> {{monster.get_level_of_danger_display}}</p>
                <p><strong>Class: </strong> {{monster.kind.group_name}}</p>

                {%if monster.image_url %}
                    <img src = "{{monster.image_url}}" alt = "{{monster.monster_name}}" style = "max-width:300px;">
                {% endif %}

                <p><em> {{ monster.my_notes|truncatewords:20 }}</em></p>
            </div>
            <hr>
        {% empty %}
            <p>No beasts have been recorded yet. The world is safe... for now.</p>
        {% endfor %}
    </div>
{% endblock %}